/* Centralizar título */
h1 {
    text-align: center;
    color: #2c3e50;
}

/* Tabelas e fontes */
body {
    font-family: 'Segoe UI', sans-serif;
}

table {
    margin: auto;
}

/* Botões */
.stButton>button {
    background-color: #0099cc;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}
